@* Mebu dropdown configurações de layout *@
<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="tipB" title="Configurações">
        <i class="fa fa-cog"></i>
        <span class="sr-only">Configurações</span>
    </a>
    <ul class="dropdown-menu dropdown-form dynamic-settings right" role="menu">
        <li>
            <a href="#" class="dropdown-menu-header">Configurações da Template</a>
        </li>
        <li>
            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" id="fixed-header-toggle" name="fixed-header-toggle" checked>
                    <span class="button-checkbox"></span>
                </label>
                <label for="fixed-header-toggle">Header Fixo</label>
            </div>
        </li>
        <li>
            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" id="fixed-left-sidebar" name="fixed-left-sidebar" checked>
                    <span class="button-checkbox"></span>
                </label>
                <label for="fixed-left-sidebar">Left Sidebar fixa</label>
            </div>
        </li>
        <li>
            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" id="fixed-right-sidebar" name="fixed-right-sidebar" checked>
                    <span class="button-checkbox"></span>
                </label>
                <label for="fixed-right-sidebar">Right Sidebar fixa</label>
            </div>
        </li>
    </ul>
</li>
