

<div class="row">
    <div class="col-6">
        @* Início do bloco Dieta *@
        <div ng-controller="dietaCtrl as ctrl" class="container col-md-6 col-lg-6 col-sm-12 col-xl-12 panel-collapse panel-evolumed">
            <div class="panel-heading">
                <h4><i class="fa fa-adn"></i>&nbsp;&nbsp;&nbsp;{{ctrl.titulo}}</h4>
            </div>
            <form class="panel-body" name="ctrl.dietaForm">
                <div class="row">

                    <div class="divList">
                        <input type="text" class="form-control" name="busca" ng-model="ctrl.criterioDeBusca" value="" placeholder="O que você está buscando..." />
                        <table ng-show="ctrl.dietas.length > 0" class="table table-hover">
                            <thead>
                                <tr>
                                    <th><b><a href="#" ng-click="ctrl.ordenarPor('DietaId')">ID</a></b></th>
                                    <th><b><a href="#" ng-click="ctrl.ordenarPor('Descricao')">DESCRIÇÃO</a></b></th>
                                    <th><b>AÇÃO</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="dt in ctrl.dietas | filter:ctrl.criterioDeBusca | orderBy:ctrl.criterioDeOrdenacao:ctrl.direcaoDaOrdenacao | itemsPerPage:4 track by dt.DietaId" pagination-id="configdieta">
                                    <td ng-bind="dt.DietaId"></td>
                                    <td ng-bind="dt.Descricao"></td>
                                    <td>
                                        <button class="btn btn-primary" ng-disabled="ctrl.inibeBtnAtualizar()" ng-click="ctrl.obterPorId(dt)" data-id="edit" data-toggle="tooltip" data-placement="bottom" title="Editar Dieta" data-original-title="Editar Dieta"><i class="glyphicon glyphicon-edit"></i></button>
                                        <button class="btn btn-danger" ng-disabled="ctrl.inibeBtnExcluir()" ng-click="ctrl.ExcluirDieta(dt)" data-id="delete" data-toggle="tooltip" data-placement="bottom" title="Excluir Dieta" data-original-title="Excluir Dieta"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <dir-pagination-controls max-size="5" pagination-id="configdieta" direction-links="true" boundary-links="true"></dir-pagination-controls>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <span class="btn btn-success" ng-disabled="ctrl.inibeBtnAdicionar()" ng-click="ctrl.incluirDietaDiv()">Adicionar Dieta</span>
                    <hr />
                    <div ng-if="ctrl.divdieta" class="col-md-12 col-lg-12 col-sm-12">
                        <h3>{{ctrl.Acao}} Dieta</h3>
                        <div class="col-12">
                            <table class="table table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th><b>ID</b></th>
                                        <th><b>DESCRIÇÃO</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" readonly="readonly" ng-model="ctrl.dieta.DietaId" class="form-control" /></td>
                                        <td><input type="text" name="descricao" ng-model="ctrl.dieta.Descricao" class="form-control" placeholder="Descrição..." ng-required="true" ng-minlength="3" /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <span class="btn btn-primary" ng-disabled="ctrl.dietaForm.$invalid" ng-click="ctrl.AdicionarEditarDieta()">Salvar</span>
                                <span class="btn btn-danger" ng-click="ctrl.cancelaEdicao()">Calcelar</span>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div ng-if="ctrl.dietaForm.descricao.$dirty" ng-messages="ctrl.dietaForm.descricao.$error">
                        <div ng-message="required" class="alert alert-danger">
                            Por favor, preencha o campo Descrição!
                        </div>
                        <div ng-message="minlength" class="alert alert-danger">
                            O campo Descrição deve ter no mínimo 3 caracteres.
                        </div>
                    </div>

                </div>

            </form>
        </div>
        @* Fim do bloco Dieta *@
    </div>

    <div class="col-6">
        @* Início de Convênio *@
        <div ng-controller="convenioCtrl as conv" class="container col-md-6 col-lg-6 col-sm-12 col-xl-12 panel-collapse panel-evolumed">
            <div class="panel-heading">
                <h4><i class="fa fa-adn"></i>&nbsp;&nbsp;&nbsp;{{conv.titulo}}</h4>
            </div>
            <form class="panel-body" name="conv.convenioForm">
                <div class="row">
                    <div class="divList">
                        <input type="text" class="form-control" name="busca" ng-model="conv.criterioDeBusca" value="" placeholder="O que você está buscando..." />
                        <table ng-show="conv.convenios.length > 0" class="table table-hover">
                            <thead>
                                <tr>
                                    <th><b><a href="#" ng-click="conv.ordenarPor('ConvenioId')">ID</a></b></th>
                                    <th><b><a href="#" ng-click="conv.ordenarPor('Descricao')">Descrição</a></b></th>
                                    <th><b>AÇÃO</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="cnv in conv.convenios | filter:conv.criterioDeBusca | orderBy:conv.criterioDeOrdenacao:conv.direcaoDaOrdenacao | itemsPerPage:4 track by cnv.ConvenioId" pagination-id="cnvconvenio">
                                    <td ng-bind="cnv.ConvenioId"></td>
                                    <td ng-bind="cnv.Descricao"></td>
                                    <td>
                                        <button class="btn btn-primary" ng-disabled="conv.inibeBtnAtualizar()" ng-click="conv.obterPorId(cnv)" data-id="edit" data-toggle="tooltip" data-placement="bottom" title="Editar Convenio" data-original-title="Editar Convenio"><i class="glyphicon glyphicon-edit"></i></button>
                                        <button class="btn btn-danger" ng-disabled="conv.inibeBtnExcluir()" ng-click="conv.ExcluirConvenio(cnv)" data-id="delete" data-toggle="tooltip" data-placement="bottom" title="Excluir Convenio" data-original-title="Excluir Convenio"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <dir-pagination-controls max-size="5" pagination-id="cnvconvenio" direction-links="true" boundary-links="true"></dir-pagination-controls>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <span class="btn btn-success" ng-disabled="conv.inibeBtnAdicionar()" ng-click="conv.incluirConvenioDiv()">Adicionar Convenio</span>
                    <hr />
                    <div ng-if="conv.divconvenio" class="col-md-12 col-lg-12 col-sm-12">
                        <h3>{{conv.Acao}} Convênio</h3>
                        <div class="col-12">
                            <table class="table table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th><b>ID</b></th>
                                        <th><b>CONVÊNIO</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" readonly="readonly" ng-model="conv.convenio.ConvenioId" class="form-control" /></td>
                                        <td><input type="text" name="descricao" ng-model="conv.convenio.Descricao" class="form-control" placeholder="Convenio..." ng-required="true" ng-minlength="2" /></td>
                                    </tr>
                                </tbody>
                            </table>                            
                            <div>
                                <span class="btn btn-primary" ng-disabled="conv.convenioForm.$invalid" ng-click="conv.AdicionarEditarConvenio()">Salvar</span>
                                <span class="btn btn-danger" ng-click="conv.cancelaEdicao()">Calcelar</span>
                            </div>
                        </div>

                    </div>
                </div>

                <br />
                <div class="row">
                    <div ng-if="conv.convenioForm.descricao.$dirty" ng-messages="conv.convenioForm.descricao.$error">
                        <div ng-message="required" class="alert alert-danger">
                            Por favor, preencha o campo Descrição!
                        </div>
                        <div ng-message="minlength" class="alert alert-danger">
                            O campo Descrição deve ter no mínimo 2 caracteres.
                        </div>
                    </div>

                </div>
            </form>
        </div>
        @* Fim de Convênio *@
    </div>
</div>

