@{
    ViewBag.Title = "Confirmação seu email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Obrigado por confirmar seu email. Por gentileza @Html.ActionLink("Clique aqui para Logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
