@{
    ViewBag.Title = "Confirmação de redefinição de senha";
}

<div class="panel panel-body">



    <div class="row col-12">
        <img src="~/images/esqueciasenha.png" />
    </div>

    <hr />

    <div class="row col-12 alert alert-warning">




        <h3><i class="glyphicon glyphicon-question-sign"></i>&nbsp;&nbsp;@ViewBag.Title.</h3>

        <h3><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Check seu e-mail para redefinir sua senha.</h3>


        <div>
            <p class="text-danger">
                Este é um DEMO apenas: Você pode clicar no link para redefinir sua senha: <a href=@ViewBag.Link>link</a>
                @*Please change this code to register an email service in IdentityConfig to send an email.*@
            </p>
        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
