@{
    ViewBag.Title = "Redefinição de Senha";
}

<div class="jumbotron">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Sua Senha foi Resetada. Por favor @Html.ActionLink("Cliqu aqui para se logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>

