


<div ng-controller="estadoDoPacienteCtrl" class="container  col-md-12 col-lg-12 col-sm-12 panel-collapse panel-evolumed">

    <div class="panel-heading">
        <h4><i class="fa fa-adn"></i>&nbsp;&nbsp;&nbsp;{{titulo}}</h4>
    </div>
    <form class="panel-body" name="estadoDoPacienteForm">

        <div class="row">

            <div class="divList">

                <input type="text" class="form-control" name="busca" ng-model="criterioDeBusca" value="" placeholder="O que você está buscando..." />

                <table ng-show="estadoDoPacientes.length > 0" class="table table-hover">
                    <thead>
                        <tr>
                            <th><b><a href="#" ng-click="ordenarPor('EstadoDoPacienteId')">ID</a></b></th>
                            <th><b><a href="#" ng-click="ordenarPor('Descricao')">Descrição</a></b></th>
                            <th><b>AÇÃO</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="estadoDoPaciente in estadoDoPacientes | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao | itemsPerPage:3" pagination-id="estadoDoPaciente">
                            <td ng-bind="estadoDoPaciente.EstadoDoPacienteId"></td>
                            <td ng-bind="estadoDoPaciente.Descricao"></td>
                            <td>
                                <button class="btn btn-primary" ng-disabled="inibeBtnAtualizar()" ng-click="obterPorId(estadoDoPaciente)" data-id="edit" data-toggle="tooltip" data-placement="bottom" title="Editar Estado do Paciente" data-original-title="Editar Estado do Paciente"><i class="glyphicon glyphicon-edit"></i></button>
                                <button class="btn btn-danger" ng-disabled="inibeBtnExcluir()" ng-click="ExcluirEstadoDoPaciente(estadoDoPaciente)" data-id="delete" data-toggle="tooltip" data-placement="bottom" title="Excluir Estado do Paciente" data-original-title="Excluir Estado do Paciente"><i class="glyphicon glyphicon-trash"></i></button>

                            </td>
                        </tr>
                    </tbody>
                    <dir-pagination-controls max-size="5" pagination-id="estadoDoPaciente" direction-links="true" boundary-links="true"></dir-pagination-controls>
                </table>

            </div>

        </div>

        <div class="row">

            <span class="btn btn-success" ng-disabled="inibeBtnAdicionar()" ng-click="incluirEstadoDoPacienteDiv()">Adicionar Estado do Paciente</span>
            <hr />

            <div ng-show="divestadoDoPaciente" class="col-md-12 col-lg-12 col-sm-12">
                <h3>{{Acao}} Estado do Paciente</h3>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table table-responsive table-bordered">
                        <tbody>
                            <tr>
                                <th><b>Id</b></th>
                                <th colspan="4"><b>Estado do Paciente</b></th>
                            </tr>
                            <tr>
                                <td><input type="text" readonly="readonly" ng-model="estadoDoPaciente.EstadoDoPacienteId" class="form-control" /></td>
                                <td colspan="4"><input type="text" name="descricao" ng-model="estadoDoPaciente.Descricao" class="form-control" placeholder="Estado do Paciente..." ng-required="true" ng-minlength="2" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <span class="btn btn-primary" ng-disabled="estadoDoPacienteForm.$invalid" ng-click="AdicionarEditarEstadoDoPaciente()">Salvar</span>
                        <span class="btn btn-danger" ng-click="cancelaEdicao()">Calcelar</span>
                    </div>
                </div>


            </div>
        </div>


        <br />

        <div class="row">
            <div ng-show="estadoDoPacienteForm.descricao.$dirty" ng-messages="estadoDoPacienteForm.descricao.$error">
                <div ng-message="required" class="alert alert-danger">
                    Por favor, preencha o campo Descrição!
                </div>
                <div ng-message="minlength" class="alert alert-danger">
                    O campo Descrição deve ter no mínimo 2 caracteres.
                </div>
            </div>



        </div>
    </form>

</div>





