
@{
    ViewBag.Title = "Tela de Portais Essenciais Para Developers";
}


   <main>
        <div class="wrapper">
            <div class="block">
                <div class="block-img">
                    <img src="~/images/portais/msdn.png" alt="MSDS">
                </div>
                <div class="block-desc">
                    MSDN - O Portal oficial da Comunidade Microsoft    
                </div>
                <div class="block-link">
                    <a href="#">Ver mais</a>
                </div>
            </div>

            <div class="block">
                <div class="block-img">
                    <img src="~/images/portais/css3.png" alt="CSS3">
                </div>
                <div class="block-desc">
                    CSS3 e toda a maravilha das Folhas de Estilos. Você não vive na Web sem ele.
                </div>
                <div class="block-link">
                    <a href="#">Ver mais</a>
                </div>
            </div>

            <div class="block">
                <div class="block-img">
                    <img src="~/images/portais/jquery.png" alt="jQuery">
                </div>
                <div class="block-desc">
                    jQuery - A Biblioteca Javascript mais utilizada no mundo inteiro! Só isso!!!.
                </div>
                <div class="block-link">
                    <a href="#">Ver mais</a>
                </div>
            </div>

            <div class="block">
                <div class="block-img">
                    <img src="~/images/portais/angularjs.png" alt="Angular">
                </div>
                <div class="block-desc">
                    Se você quer saber o que é produtividade, conheça o Angular do Google. Poucas coisas te impressionarão tanto!
                </div>
                <div class="block-link">
                    <a href="#">Ver mais</a>
                </div>
            </div>

            <div class="block">
                <div class="block-img">
                    <img src="~/images/portais/nodes.png" alt="NodeJS">
                </div>
                <div class="block-desc">
                    NodeJS - Esse framework é a base do Stack MEAN (MongoDB, Express, Angular e NodeJS)
                </div>
                <div class="block-link">
                    <a href="#">Ver mais</a>
                </div>
            </div>

            <div class="block">
                <div class="block-img">
                    <img src="~/images/portais/xamarin.jpg" alt="Xamarin">
                </div>
                <div class="block-desc">
                    Xamarin - Quer tornar suas aplicações ricas para mobiles? Acesse e se surpreenda!
                </div>
                <div class="block-link">
                    <a href="#">Ver mais</a>
                </div>
            </div>
        </div>
    </main>

