
@{
    ViewBag.Title = "MedicalManagement-Sys / Slides Share";
}



<div class="panel toggle panel-default">
    <div class="panel-heading">
        <h3><i class="fa fa-archive"></i> MedicalManagement-Sys / Slides Share</h3>
    </div>
    <div class="panel-body">


        <!--/ Linha 01 -->
        <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/DAlnoqMm0iFSVs" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/waldyrfelix/aspnet-signalr-spa-com-angularjs" title="ASP.NET SignalR + SPA com AngularJS" target="_blank">ASP.NET SignalR + SPA com AngularJS</a> </strong> de <strong><a href="//www.slideshare.net/waldyrfelix" target="_blank">Waldyr Felix</a></strong>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/3aKC2eHuegRY0l" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/Marckys/mvc-angularspa-codemotion" title="SPA ASP.NET MVC &amp; AngularJS codemotion 2013" target="_blank">SPA ASP.NET MVC &amp; AngularJS codemotion 2013</a> </strong> de <strong><a href="//www.slideshare.net/Marckys" target="_blank">Marc Rubiño</a></strong>
                </div>
            </div>
        </div>


        <!--/ Linha 02 -->
        <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/126o5LeFxaFksG"
                        width="595"
                        height="485"
                        frameborder="0"
                        marginwidth="0"
                        marginheight="0"
                        scrolling="no"
                        style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen></iframe>

                <div style="margin-bottom: 5px">
                    <strong>
                        <a href="//www.slideshare.net/rodrigobranas/mdulo-2-criando-componentes-reusveis-com-diretivas-angularjs" title="Utilizando diretivas com AngularJS" target="_blank">Utilizando diretivas com AngularJS</a>
                    </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/dU7U2i5VpfPyhs" width="595" height="485" frameborder="0" marginwidth="0"
                        marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen></iframe>

                <div style="margin-bottom: 5px">
                    <strong>
                        <a href="//www.slideshare.net/rodrigobranas/mdulo-3-manipulao-de-dados-angularjs" title="HTTP, JSON, REST e AJAX com AngularJS" target="_blank">HTTP, JSON, REST e AJAX com AngularJS</a>
                    </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
        </div>


        <!--/ Linha 03 -->
        <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/m5qMdECvTQrFFL" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/mdulo-5-design-strategies-angularjs" title="Validando Formulários com AngularJS" target="_blank">Validando Formulários com AngularJS</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/jOVAzmRI1VDrN8" width="595" height="485"
                        frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
                        style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen></iframe>

                <div style="margin-bottom: 5px">
                    <strong>
                        <a href="//www.slideshare.net/rodrigobranas/mdulo-6-automatizando-os-testes-e-o-workflow-do-projeto-angularjs" title="Aplicando filtros com AngularJS" target="_blank">Aplicando filtros com AngularJS</a>
                    </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
        </div>


        <!--/ Linha 04 -->
        <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/n88SrosqyCHO9s" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/mdulo-4-evoluindo-o-design-da-aplicao-com-di-e-services-angularjs" title="Evoluindo a arquitetura de uma aplicação com AngularJS" target="_blank">Evoluindo a arquitetura de uma aplicação com AngularJS</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>


            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/eU0tR4iw5LRGqt" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/mdulo-1-introduo-ao-angularjs" title="Introdução ao desenvolvimento de aplicações web" target="_blank">Introdução ao desenvolvimento de aplicações web</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>

            </div>
        </div>


        <!--/ Linha 05 -->
        <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/nclFCnKvnx5O2m" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/construindo-diretivas-com-angularjs" title="Construindo Diretivas com AngularJS" target="_blank">Construindo Diretivas com AngularJS</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/j2YePJqpX8MJ76" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/criando-servios-com-angularjs" title="Criando serviços com AngularJS" target="_blank">Criando serviços com AngularJS</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
        </div>

        <!--/ Linha 06 -->
        <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/H5ruNag3IyqndM" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/http-interceptors-com-angularjs" title="HTTP Interceptors com AngularJS" target="_blank">HTTP Interceptors com AngularJS</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/80D7WfQat7SoWT" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/scope-angularjs" title="Scope AngularJS" target="_blank">Scope AngularJS</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
        </div>


        <!--/ Linha 07 -->
        <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/4vXaRgbbkkj0sr" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/criando-filtros-com-angularjs" title="Criando Filtros com AngularJS" target="_blank">Criando Filtros com AngularJS</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/DP78G8gaybcIKw" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/javascript-expresses-regulares" title="JavaScript - Expressões Regulares" target="_blank">JavaScript - Expressões Regulares</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
        </div>


        <!--/ Linha 07 -->
        <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/9cGHkmoYA5pf6K" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/javascript-date" title="JavaScript - Date" target="_blank">JavaScript - Date</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/GlHSsbBnaifbcl" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                <div style="margin-bottom: 5px">
                    <strong> <a href="//www.slideshare.net/rodrigobranas/java-script-overview" title="Desvendando a linguagem JavaScript" target="_blank">Desvendando a linguagem JavaScript</a> </strong> from <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                </div>
            </div>


            <!--/ Linha 07 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/4vXaRgbbkkj0sr" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/criando-filtros-com-angularjs" title="Criando Filtros com AngularJS" target="_blank">Criando Filtros com AngularJS</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/DP78G8gaybcIKw" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/javascript-expresses-regulares" title="JavaScript - Expressões Regulares" target="_blank">JavaScript - Expressões Regulares</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
            </div>


            <!--/ Linha 08 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/9cGHkmoYA5pf6K" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/javascript-date" title="JavaScript - Date" target="_blank">JavaScript - Date</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/GlHSsbBnaifbcl" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/java-script-overview" title="Desvendando a linguagem JavaScript" target="_blank">Desvendando a linguagem JavaScript</a> </strong> from <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
            </div>



            <!--/ Linha 09 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/24AVr3UHMTsQve" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/nodejs-1-introduo-rodrigo-branas" title="Node.js - #1 - Introdução - Rodrigo Branas" target="_blank">Node.js - #1 - Introdução - Rodrigo Branas</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/kI6YADiM5QBjS8" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/nodejs-2-sistema-de-mdulos-rodrigo-branas" title="Node.js - #2 - Sistema de Módulos - Rodrigo Branas" target="_blank">Node.js - #2 - Sistema de Módulos - Rodrigo Branas</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
            </div>



            <!--/ Linha 10 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/wgFwh8MtGizxJ5" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/nodejs-4-timers-rodrigo-branas" title="Node.js - #4 - Timers - Rodrigo Branas" target="_blank">Node.js - #4 - Timers - Rodrigo Branas</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/4cYjwnGIu42Sif" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/nodejs-5-process-rodrigo-branas" title="Node.js - #5 - Process - Rodrigo Branas" target="_blank">Node.js - #5 - Process - Rodrigo Branas</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
            </div>



            <!--/ Linha 11 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/vJ7izk4HtV83TU" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/bower-33776575" title="Bower" target="_blank">Bower</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/ySjRVRq4F93a0d" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/clean-code-tdc2010" title="Clean Code" target="_blank">Clean Code</a> </strong> from <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
            </div>



            <!--/ Linha 12 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/1xqY38iJ1XXO8m" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/nodejs-3-global-objects-rodrigo-branas" title="Node.js - #3 - Global Objects - Rodrigo Branas" target="_blank">Node.js - #3 - Global Objects - Rodrigo Branas</a> </strong> from <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/dXUlJzyux5iv9Y" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/rodrigobranas/grunt-33776587" title="Grunt" target="_blank">Grunt</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong>
                    </div>
                </div>
            </div>




            <!--/ Linha 13 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/fUmJzyjAKYIo3g" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/rodrigobranas/criando-aplicaes-singlepage-com-angularjs" title="Criando aplicações Single-Page com AngularJS" target="_blank">Criando aplicações Single-Page com AngularJS</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong> </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/vFxWcD81zaFMIv" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/rodrigobranas/refactoring-14723511" title="Refactoring" target="_blank">Refactoring</a> </strong> de <strong><a href="//www.slideshare.net/rodrigobranas" target="_blank">Rodrigo Branas</a></strong> </div>
                </div>
            </div>



            <!--/ Linha 14 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="~/pdf/AngularJSIn60MinutesIsh_DanWahlin_May2013.pdf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="#" title="AngularJS In 60 Minutes DanWahlin - May2013">AngularJS In 60 Minutes</a> </strong> de <strong><a href="#">DanWahlin</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/4gwzhbdcm1sHGL" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="//www.slideshare.net/vcavalcante/jquery-e-aspnet-mvc-a-dupla-dinmica" title="jQuery e ASP.Net MVC a dupla dinâmica" target="_blank">jQuery e ASP.Net MVC a dupla dinâmica</a> </strong> de <strong><a href="//www.slideshare.net/vcavalcante" target="_blank">Victor Cavalcante</a></strong>
                    </div>
                </div>
            </div>



            <!--/ Linha 15 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="~/pdf/angularjs-131019061933-01.pdf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="#" title="AngularJS - Abraçando o MVC Cliente Side">AngularJS - Abraçando o MVC Cliente Side</a> </strong> de <strong><a href="#">Sergio Azevedo</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="~/pdf/angularjs-130327110737-02.pdf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="#" title="AngularJS Mais sobre o Framework">Leaky Abstraction</a> </strong> de <strong><a href="#">Henrique Netto</a></strong>
                    </div>
                </div>
            </div>



            <!--/ Linha 16 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="~/pdf/AngularJS_na_prática.pdf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="#" title="AngularJS na Prática">AngularJS na Prática</a> </strong> de <strong><a href="#">Publicar Autor</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="~/pdf/CriandoAplicacaoAngularJS.pdf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="#" title="Criando Aplicação Angular">Criando Aplicação Angular</a> </strong> de <strong><a href="#">Publicar Autor</a></strong>
                    </div>
                </div>
            </div>



            <!--/ Linha 17 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="~/pdf/angularjs_tutorial.pdf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="#" title="Tutorial AngularJS">Tutorial AngularJS</a> </strong> de <strong><a href="#">Publicar Autor</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="~/pdf/CriandoMasterAngularTemplate-passo-a-passo.pdf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="#" title="Criando Master Angular Template Passo-a-passo">Criando Master Angular Template Passo-a-passo</a> </strong> de <strong><a href="#">Publicar Autor</a></strong>
                    </div>
                </div>
            </div>


            <!--/ Linha 18 -->
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <iframe src="~/pdf/manual-da-prontuario-evolucao-medica.pdf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="#" title="Manual de Prontuario de Evolucao Médica">Manual de Prontuario de Evolucao Médica</a> </strong> @*de <strong><a href="#">Sergio Azevedo</a></strong>*@
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <iframe src="~/pdf/principios-de-prescricao-para-estudantes-de-medicina.pdf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" allowfullscreen> </iframe>
                    <div style="margin-bottom: 5px">
                        <strong> <a href="#" title="Princípios da Prescricao para Estudantes de Medicina">Princípios da Prescricao para Estudantes de Medicina</a> </strong> @*de <strong><a href="#">Henrique Netto</a></strong>*@
                    </div>
                </div>
            </div>


     
            <!-- /

                <iframe src="//www.slideshare.net/slideshow/embed_code/key/dL76Sh0agpDKff" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/nbluis/nodejs-workshop-do-bsico-ao-avanado" title="Node.JS - Workshop do básico ao avançado" target="_blank">Node.JS - Workshop do básico ao avançado</a> </strong> de <strong><a href="//www.slideshare.net/nbluis" target="_blank">Eduardo Bohrer</a></strong> </div>

            -->



        </div>
    </div>

</div>

