
@{
    ViewBag.Title += "Exemplo de Tab Inside do Tema";
}

<div class="panel panel-default toggle panelClose panelRefresh mt20">
    <!-- Start .panel -->
    <div class="panel-heading">
        <h4 class="panel-title">Tabs inside panel</h4>
    </div>
    <div class="panel-body p0">
        <div class="tabs inside-panel">
            <ul id="myTab5" class="nav nav-tabs">
                <li>
                    <a href="#home5" data-toggle="tab"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="">
                    <a href="#profile5" data-toggle="tab"><i class="glyphicon glyphicon-user"></i> Profile</a>
                </li>
                <li class="">
                    <a href="#settings5" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                </li>
            </ul>
            <div id="myTabContent5" class="tab-content">
                <div class="tab-pane fade active in" id="home5">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium quisquam voluptatum fuga delectus quidem quas aliquam
                        minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus,
                        minima, suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat iusto.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile5">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium quisquam voluptatum fuga delectus quidem quas aliquam
                        minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus,
                        minima, suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat iusto.
                    </p>
                </div>
                <div class="tab-pane fade" id="settings5">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, suscipit, autem sit natus deserunt officia error odit ea minima soluta ratione maxime molestias fugit explicabo aspernatur praesentium quisquam voluptatum fuga delectus quidem quas aliquam
                        minus at corporis libero? Modi, aperiam, pariatur, sequi illum dolore consequuntur aspernatur eos hic officia doloribus magnam impedit autem maiores alias consectetur tempore explicabo. Ducimus,
                        minima, suscipit unde harum numquam ipsa laboriosam cupiditate nemo repellendus at? Dolorum dicta nemo quaerat iusto.
                    </p>
                </div>
            </div>
        </div>
        <!-- End .tabs -->
    </div>
</div>
<!-- End .panel -->


