

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Anti-Coagulação</h4>
        </div>
        <div class="panel-body">
            <div class="form-group col-12">
                <label class="col-lg-3 col-md-3 control-label">Selecione: </label>
                <div class="col-lg-9 col-md-9">

                    <ul>
                        
                        <li ng-repeat="anticoagulacao in anticoagulacoesprontuario">
                            <div class="toggle-custom">
                                <label class="toggle" data-on="ON" data-off="OFF">
                                    <input type="radio" name="anticoagulacao"
                                           value="{{anticoagulacao.Descricao}}" 
                                           ng-model="prontuario.Anticoagulacao" class="form-control"/>
                                    <span class="button-radio"></span>
                                </label>
                                <label>{{anticoagulacao.Descricao}}</label>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

