
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Pressão Intracraniana</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">

                <div class="col-lg-5 col-md-4">

                    <div class="toggle-custom">
                        <label class="toggle" data-on="ON" data-off="OFF">
                            <input type="radio" name="idPic" ng-model="prontuario.Pic" value="Sim" class="form-control" />
                            <span class="button-radio"></span>
                        </label>
                        <label>Sim</label>
                    </div>

                    <div class="toggle-custom">
                        <label class="toggle" data-on="ON" data-off="OFF">
                            <input type="radio" name="idPic" ng-model="prontuario.Pic" value="Não" class="form-control" />
                            <span class="button-radio"></span>
                        </label>
                        <label>Não</label>
                    </div>


                </div>

                <div class="form-group col-lg-5 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="PicData"ng-disabled="getInibirEAnularData(prontuario.Pic, 'Não','PicData')" ng-model="prontuario.PicData" name="PicData" type="date" class="form-control">
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
