
@{
    ViewBag.Title = "Index";
}

<!-- #65 -->
<h3 id="65" class="head"><span>#65</span> Blog Item</h3>
<p>Bold blog item list.</p>

<!-- #65 -->
<div class="a-65">
    <!-- Item -->
    <div class="a-65-i">
        <!-- Date -->
        <h4><a href="#">21<span>Aug 16</span></a></h4>
        <!-- Content with border -->
        <div class="a-65-c a-br a-br-red">
            <!-- Heading -->
            <h3><a href="#">Super bugs are killing everyone</a></h3>
            <!-- Meta -->
            <h5>
                <!-- User -->
                <a href="#"><i class="fa fa-user"></i> Ravi Kumar</a>
                <a href="#"><i class="fa fa-folder"></i> Designing</a>
            </h5>
            <!-- Para -->
            <p>Lorem ipsum dolor sit amet, consec tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem  tetur adipi sicing elit, sed do eiusmod ipsum dolor sit amet, consec tetur adipi sicing elit, sed do eiusmod tempor incid idunt ut tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem  labore et dolore magna aliqua.</p>
        </div>
    </div>
    <!-- Item -->
    <div class="a-65-i">
        <!-- Date -->
        <h4><a href="#">13<span>Sep 16</span></a></h4>
        <!-- Content with border -->
        <div class="a-65-c a-br a-br-red">
            <!-- Heading -->
            <h3><a href="#">Why no one visited us yet?</a></h3>
            <!-- Meta -->
            <h5>
                <!-- User -->
                <a href="#"><i class="fa fa-user"></i> Ravi Kumar</a>
                <a href="#"><i class="fa fa-folder"></i> Designing</a>
            </h5>
            <!-- Para -->
            <p>Lorem ipsum dolor sit amet, consec tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem  tetur adipi sicing elit, sed do eiusmod ipsum dolor sit amet, consec tetur adipi sicing elit, sed do eiusmod tempor incid idunt ut tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem  labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>


