
@{
    ViewBag.Title = "Notificacoes";
}

<!-- #136 -->
<h3 id="136" class="head"><span>#136</span> Notifications</h3>
<p>Beautiful notification message with colored border, heading, para and button.</p>

<!-- #136 -->
<div class="a-136 a-br a-br-red">
    <!-- Heading -->
    <h3>Important Note</h3>
    <!-- Paragraph -->
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <!-- Button -->
    <a href="#" class="a-btn a-btn-red a-btn-sm">Thank you</a>
</div>

<!-- #136 -->
<div class="a-136 a-br a-br-green">
    <!-- Heading -->
    <h3>Warning Note</h3>
    <!-- Paragraph -->
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <!-- Button -->
    <a href="#" class="a-btn a-btn-green a-btn-sm">Thank you</a>
</div>

<script type="syntaxhighlighter" class="brush: html">
    <!-- #136 -->
    <div class="a-136 a-br a-br-COLOR">
        <!-- Heading -->
        <h3>HEADING</h3>
        <!-- Paragraph -->
        <p>.........PARAGRAPH..........</p>
        <!-- Button -->
        <a href="#" class="a-btn a-btn-COLOR a-btn-sm">BUTTON</a>
    </div>
</script>



