
@{
    ViewBag.Title = "ChamadaMedica";
}



<!-- #8 -->
<h3 id="8" class="head"><span>#8</span> Timeline</h3>
<p>Teste de Timeline.</p>

<!-- #8 -->
<div class="a-8">
    <!-- Item -->
    <div>
        <!-- Date -->
        <h3 class="a-bg-red"><span>05</span>Jan 1965</h3>
        <!-- Content -->
        <div class="a-8-c">
            <!-- Heading -->
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing</h4>
            <!-- Para -->
            <p>Praesent dictum, sapien a facilisis placerat, bulum vulputate mi, non mattis ipsum tempus ut. Sed metus odio, rutrum et sem sit amet, cursus tristique tortor. </p>
        </div>
    </div>
    <!-- Item -->
    <div>
        <!-- Date -->
        <h3 class="a-bg-lblue"><span>03</span>Jul 1965</h3>
        <!-- Content -->
        <div class="a-8-c">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing</h4>
            <p>Praesent dictum, sapien a facilisis placerat, bulum vulputate mi, non mattis ipsum tempus ut. Sed metus odio, rutrum et sem sit amet, cursus tristique tortor. </p>
        </div>
    </div>
    <!-- Item -->
    <div>
        <!-- Date -->
        <h3 class="a-bg-green"><span>26</span>Fev 1965</h3>
        <!-- Content -->
        <div class="a-8-c">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing</h4>
            <p>Praesent dictum, sapien a facilisis placerat, bulum vulputate mi, non mattis ipsum tempus ut. Sed metus odio, rutrum et sem sit amet, cursus tristique tortor. </p>
        </div>
    </div>
</div>

