

<div class="col-md-6 col-lg-6 col-sm-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">Drippings</h4>
        </div>
        <div class="panel-body">

            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" class="form-control" ng-model="prescricao.Amiodarana" id="amiodarana" value="" name="amiodarana">
                    <span class="button-checkbox"></span>
                </label>
                <label for=drippingsAmiodarona>Amiodarona</label>
            </div>

            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" class="form-control" ng-model="prescricao.Dobutamina" id="dobutamina" value="" name="dobutamina">
                    <span class="button-checkbox"></span>
                </label>
                <label for=drippingsDobutamina>Dobutamina</label>
            </div>

            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" class="form-control" ng-model="prescricao.Dopamina" id="dopamina" value="" name="dopamina">
                    <span class="button-checkbox"></span>
                </label>
                <label for=drippingsDopamina>Dopamina</label>
            </div>

            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" class="form-control" ng-model="prescricao.Noradrenalina" id="noradrenalina" value="" name="noradrenalina">
                    <span class="button-checkbox"></span>
                </label>
                <label for=drippingsNoradrenalina>Noradrenalina</label>
            </div>

            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" class="form-control" ng-model="prescricao.Nitroprussiato" id="nitroprussiato" value="" name="nitroprussiato">
                    <span class="button-checkbox"></span>
                </label>
                <label for=drippingsNitroprussiato>Nitroprussiato</label>
            </div>

            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" class="form-control" ng-model="prescricao.Nitroglicerina" id="nitroglicerina" value="" name="nitroglicerina">
                    <span class="button-checkbox"></span>
                </label>
                <label for=drippingsNitroglicerina>Nitroglicerina</label>
            </div>

            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" class="form-control" ng-model="prescricao.Midazolam" id="midazolam" value="" name="midazolam">
                    <span class="button-checkbox"></span>
                </label>
                <label for=drippingsNitroglicerina>Midazolam</label>
            </div>

            <div class="toggle-custom">
                <label class="toggle" data-on="ON" data-off="OFF">
                    <input type="checkbox" class="form-control" ng-model="prescricao.Fentanil" id="fentanil" value="" name="fentanil">
                    <span class="button-checkbox"></span>
                </label>
                <label for=drippingsFentanil>Fentanil</label>
            </div>


            <!--/ Fim Drppings -->

            @*</tbody>
                </table>*@
        </div>


    </div>
</div>

