

<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">Glicemia Capilar</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">

                <div class="col-lg-12 col-md-12">

                    <ul>
                        <li ng-repeat="glicemiacapilar in glicemiascapilares">
                            <div class="toggle-custom">
                                <label class="toggle" data-on="ON" data-off="OFF">
                                    <input type="radio" name="glicemiacapilar" ng-model="prescricao.GlicemiaCapilar" value="{{glicemiacapilar.Descricao}}" class="form-control" />
                                    <span class="button-radio"></span>
                                </label>
                                <label>{{glicemiacapilar.Descricao}}</label>
                            </div>
                            
                        </li>
                    </ul>

                </div>


            </div>

        </div>
    </div>

</div>




