
<div>
    <!-- col-lg-6 start here -->
    <div class="panel panel-default plain toggle">
        <!-- Start .panel -->
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-ambulance"></i> Atendimento por Setor</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <!-- Start .row -->
                <div class="col-md-12">
                    <ul class="list-unstyled" style="margin-bottom: 13px;">
                        <li class="mb15">
                            <p class="strong mb0">
                                CTI <span class="text-muted pull-right small">125</span>
                            </p>
                            <div class="progress animated-bar progress-bar-sm flat mt0">
                                <div class="progress-bar progress-bar-primary" role="progressbar" data-transitiongoal="60"></div>
                            </div>
                        </li>
                        <li class="mb15">
                            <p class="strong mb0">
                                USI <span class="text-muted pull-right small">215</span>
                            </p>
                            <div class="progress animated-bar progress-bar-sm flat mt0">
                                <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="55"></div>
                            </div>
                        </li>
                        <li class="mb15">
                            <p class="strong mb0">
                                UPO <span class="text-muted pull-right small">180</span>
                            </p>
                            <div class="progress animated-bar progress-bar-sm flat mt0">
                                <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="22"></div>
                            </div>
                        </li>
                        <li class="mb15">
                            <p class="strong mb0">
                                ENF <span class="text-muted pull-right small">210</span>
                            </p>
                            <div class="progress animated-bar progress-bar-sm flat mt0">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="70"></div>
                            </div>
                        </li>
                        <li class="mb15">
                            <p class="strong mb0">
                                QTO <span class="text-muted pull-right small">274</span>
                            </p>
                            <div class="progress animated-bar progress-bar-sm flat mt0">
                                <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="16"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End .row -->
        </div>
    </div>
    <!-- End .panel -->
</div>
