
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-default plain">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="glyphicon glyphicon-arrow-right"></i> Estados dos Pacientes</h4>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <!--/ Gráfico aqui -->
                <div id="graficoLinhaEstadoPaciente"></div>


            </div>
        </div>
    </div>
</div>

