<div>
    <div class="panel panel-default plain">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="glyphicon glyphicon-calendar"></i> Gráfico de Atendimento</h4>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <!--/ Gráfico aqui -->
                <div id="graficosAtendidosFaltosos"></div>
            </div>
        </div>
    </div>    
</div>
