
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default plain">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="glyphicon glyphicon-user"></i> Quadro Evolutivo Geral</h4>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <div id="customer-exp" class="custom-progressbar blue" style="width:244px;height:244px;">
                    <div class="percent" ng-bind="((estavel+observacao)*100/total) | number:1"><span>%</span></div>
                    <div class="description" ng-bind="niveldeevolucao"></div>
                </div>
            </div>
        </div>
    </div>
</div>

